<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<h1>Purpose</h1>
<p>
  Shows how to use RxJS with some functions.
</p>
<ul>
  <li>map, tap, flatMap, mapTo, scan, filter, debounceTime</li>
</ul>
<h1>References</h1>
<ul>
  <li>
    <a href="https://angular.io/guide/rx-library" target="_blank">
      Angular RxJS
    </a>
  </li>
  <li>
    <a href="https://rxjs-dev.firebaseapp.com/api" target="_blank">
      RxJS API List
    </a>
  </li>
  <li>
    <a href="https://ncjamieson.com/understanding-expand/" target="_blank">
      RxJS: Understanding Expand
    </a>
  </li>
</ul>
