<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<app-parent-one></app-parent-one>
<hr>
<app-parent-two></app-parent-two>

<h1>Purpose</h1>
<p>
This example is to show how components may interact.
</p>
<ul>
  <li>EventEmitter</li>
  <li>Service</li>
</ul>
<h1>Reference</h1>
<ul>
  <li>
    <a href="https://angular.io/guide/component-interaction" target="_blank">
      Component Interaction
    </a>
  </li>
</ul>