<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <h2>
    {{url}}
  </h2>
</div>

<h1>Purpose</h1>
<p>
  Understand how to do build configurations.
</p>

<h2>Serving</h2>
<ul>
  <li>
      ng serve
  </li>
  <li>
    ng serve --configuration=staging
  </li>
  <li>
    ng serve --configuration=production
  </li>
</ul>

<h2>Building</h2>
<ul>
  <li>
      ng build
  </li>
  <li>
    ng build --configuration=staging
  </li>
  <li>
    ng build --configuration=production
  </li>
</ul>

<h1>References</h1>
<ul>
  <li>
    <a href="https://angular.io/guide/build" target="_blank">
      https://angular.io/guide/build
    </a>
  </li>
</ul>

