<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<app-bar></app-bar>

<div>
  <h1>Purpose</h1>
  <p>
    This project shows how to visualize a bar graph using <a href="https://d3js.org/" target="_blank">d3</a>.
    Here are the lessons of the coding demonstration.
  </p>
  <h2>d3</h2>
  <ul>
    <li>Draw a simple bar graph.</li>
    <li>Rotate x-axis ticks.</li>
  </ul>
  <h1>References</h1>
  <ul>
      <li>
        <a href="https://bl.ocks.org/caravinden/d04238c4c9770020ff6867ee92c7dac1" target="_blank">
          Bar chart implementation using d3.v5
        </a>
      </li>
  </ul>
</div>